<h1>This is the secret page!</h1>

<p> YOU FOUND ME!</p>

<img src="https://farm7.staticflickr.com/6033/6322992684_de677b6bee.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Log in!</a></li>
<li><a href="/logout">Log out!</a></li>   